@property --percent {
  syntax: '<percentage>';
  initial-value: 10%;
  inherits: false;
}

body {
    font-family: "Inter";
    background-color: #000000;
    color: #adf285;
    font-weight: 700;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.theme {
    width: 20%;
    display: block;
    height: auto;
    z-index: 2;
  }
  
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 100;

      animation: slide 3s infinite;
      background: radial-gradient(ellipse, #00000000 0%, #000000 var(--percent), #000000);
    }
  
@keyframes slide {
  0% {
    --percent: 20%;
  }
  53% {
    --percent: 20%;
  }
  65% {
    --percent: -10%;
  }
  72% {
    --percent: 20%;
  }
  100% {
    --percent: 20%;
  }
}